<% layout('../layouts/mainlayout.ejs') -%>
<h1>Register</h1>
<form action='/register/RegisterUser' method='POST'>
    <label for='username'>Username:</label>
    <input type='text' name='username' id='username'><br>

    <label for='password'>Password:</label>
    <input type='text' name='password' id='password'><br>
    <input type='submit' value='Login'>
</form>