<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div>
        <a href='/'>Home</a>

        <% if (typeof token != 'undefined' && token) { %>
            <a href='/logout'>Logout</a>
            <a href='/admin'>Admin</a>
        <% } else {%>
            <a href='/register'>Register</a>
            <a href='/login'>Login</a>
        <% } %>
    </div>
    <%- body %>
</body>
</html>