<% layout('../layouts/mainlayout.ejs') -%>
<h1>Login</h1>
<form>
    <label for='username'>Username:</label>
    <input type='text' id='username'><br>

    <label for='password'>Password:</label>
    <input type='text' id='password'><br>
    <input type='submit' value='Login'>
</form>